
Notebooks/data/cifar-10-batches-py/batches.meta
Notebooks/data/cifar-10-batches-py/data_batch_1
Notebooks/data/cifar-10-batches-py/data_batch_2
Notebooks/data/cifar-10-batches-py/data_batch_3
Notebooks/data/cifar-10-batches-py/data_batch_4
Notebooks/data/cifar-10-batches-py/data_batch_5
Notebooks/data/cifar-10-batches-py/readme.html
Notebooks/data/cifar-10-batches-py/test_batch
Notebooks/data/cifar-10-python.tar.gz
